In [1]:
print(1,2,3)
print([1,2,3])
print("Hello", "World", "!")

a=1
b=1
a+b

name="고다람"
print(name)

1 2 3
[1, 2, 3]
Hello World !
고다람

In [2]:
print('이건 한 줄 주석입니다.')
# 이건 실행이 될까요?

이건 한 줄 주석입니다.

In [3]:
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''

이건 여러 줄 주석입니다.

'\n이건 실행이 될까요?\n'

In [4]:
print('이건 여러 줄 주석입니다.')
'''
이건 실행이 될까요?
'''
print('이제 여러 줄 주석은 실행되지 않습니다.')

이건 여러 줄 주석입니다.
이제 여러 줄 주석은 실행되지 않습니다.

In [5]:
if 17%2==0:
    print("17은 짝수입니다.")
else:
    print("17은 홀수입니다.")

17은 홀수입니다.

In [6]:
num = '168.7'
print(float(num))

168.7

In [7]:
a='코사다마'
print(a[:-1])

코사다

In [8]:
a='코사다마'
print(a[::-1])

마다사코

In [9]:
phone_num = '010-1234-1234'
print(phone_num.replace('-', ''))

01012341234

In [10]:
studentID = '20221234'
name = '고다람'

print("입학연도: %s / 이름: %s / 학번: %s" %(studentID[0:4], name, studentID))

입학연도: 2022 / 이름: 고다람 / 학번: 20221234

In [11]:
import math

radius=3.5
area=math.pi*radius**2
print(area)

38.48451000647496

In [ ]:
print("생년, 월, 일을 차례로 입력하세요.")
year=int(input("생년? "))
month=int(input("월? "))
day=int(input("일? "))
print("당신은 %d년 %d월 %d일에 태어났습니다." %(year, month, day))

In [ ]:
be=[0, 100, 100]
hero=[70, 30, 0]
jang=[100, 70, 80]

be.append((be[0]+be[1]+be[2])/3)
hero.append((hero[0]+hero[1]+hero[2])/3)
jang.append((jang[0]+jang[1]+jang[2])/3)

print((be[3]+hero[3]+jang[3])/3)

In [ ]:
print("생년, 월, 일을 차례로 입력하세요.")
year=int(input("생년? "))
month=int(input("월? "))
day=int(input("일? "))
print("당신은 %d년 %d월 %d일에 태어났습니다." %(year, month, day))

In [1]:
be=[0, 100, 100]
hero=[70, 30, 0]
jang=[100, 70, 80]

be.append((be[0]+be[1]+be[2])/3)
hero.append((hero[0]+hero[1]+hero[2])/3)
jang.append((jang[0]+jang[1]+jang[2])/3)

print((be[3]+hero[3]+jang[3])/3)

61.11111111111111

In [2]:
print("생년, 월, 일을 차례로 입력하세요.")
year=int(input("생년? "))
month=int(input("월? "))
day=int(input("일? "))
print("당신은 %d년 %d월 %d일에 태어났습니다." %(year, month, day))

생년, 월, 일을 차례로 입력하세요.
생년? 2005
월? 03
일? 06
당신은 2005년 3월 6일에 태어났습니다.

In [5]:
import random

number=[]
for i in range(11):
    number.append(random.randint(1,100))
    
number.sort()
print(number)
print(number[0], number[-1])

[19, 26, 34, 42, 54, 63, 64, 64, 67, 81, 90]
19 90